{{ define "main" }}
	<main class="index">
		<article>
			<section>
				{{.Content}}
			
				{{$posts := ($.Site.GetPage "section" "schedule").Pages.ByPublishDate.Reverse}}
				{{ range $index, $element := first 1 $posts }}
				

				<h1>{{ .Title }}</h1>
				<time>{{ .Date.Format "January 2, 2006" }}</time>
				<div class="week content">
					<div class="assignments">
						<div class="row">
							<h4>Class</h4>
							<div class="item">{{.Content}}</div>
						</div>
						<div class="row">
							<h4>Project</h4>
							{{ with .Site.GetPage .Params.project }}
								<div class="item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
							{{ end }}
						</div>
						{{ with .Site.GetPage .Params.exercise }}
						<div class="row">
							<h4>Exercise</h4>
								<div class="item"><a href="{{ .Permalink }}">{{ .Title }}</a></div>						
						</div>
						{{ end }}
						<div class="row">
							<h4>Reading</h4>
							<div class="item">{{ .Params.reading | markdownify }}</div>
						</div>
						<div class="row">
							<h4>Tutorials</h4>
							<div class="item">{{ .Params.tutorials | markdownify }}</div>
						</div>
						<div class="row">
							<h4>Lectures</h4>
							<div class="item">{{ .Params.lectures | markdownify }}</div>
						</div>
					</div>
					
				</div>
				{{ end }}
			</section>
			<section>
				<ul class="links">
					<li><a href="https://risd.zoom.us/j/92822950097" target="_blank">Class Zoom</a></li>
					<li><a href="https://github.com/risd-web/webtype-demos" target="_blank">Demos Repository</a></li>
					<li><a href="https://risd.hosted.panopto.com/Panopto/Pages/Sessions/List.aspx?embedded=0#folderID=%224db47cb6-f06a-46b1-9d81-acda00f2f8c3%22&view=0" target="_blank">Lecture Recordings</a></li>
					<li><a href="https://docs.google.com/spreadsheets/d/1iLWtgjB2GGkPRLjlcwTficTPRG5eHi7RBHwl1bIZipE/edit#gid=0" target="_blank">Office Hours</a></li>
					<li><a href="https://docs.google.com/spreadsheets/d/1PukQXcHrMdCvE0ijBvt5N1x78f-7cT9hS8c2WDI78Fs/edit#gid=0" target="_blank">Presentations</a></li>
				</ul>
				<h2>Students</h2>
				<ul class="links">
					<li><a href="https://corinneang.github.io/webtype/">Corinne Izabel Ang</a></li>
					<li><a href="https://achoi402.github.io/web-type/">Amy Choi</a></li>
					<li><a href="">Jingyu Feng</a></li>
					<li><a href="https://danielgoldbergdesign.com/webtype/">Daniel Goldberg</a></li>
					<li><a href="">Natalya Ho</a></li>
					<li><a href="https://nkim16.github.io/webtype/">Nayeon Kim</a></li>
					<li><a href="https://wmianecki.github.io/webtype_2021_wlm/">Will Mianecki</a></li>
					<li><a href="https://clear311.github.io/web-type/">Clear Shen</a></li>
					<li><a href="https://athrasta.github.io/webtype/">Asta Thrastardottir</a></li>
					<li><a href="https://jweed.github.io/webtype/">Jordan Weed</a></li>
					<li><a href="">Qianxue Zhao</a></li>
				</ul>
			</section>
		</article>
	</main>

{{ end }}
